body {
  display: flex;
  height: 100vh;
}

main {
  position: relative;
  width: 268px;
  height: 268px;
  margin: auto;
  cursor: pointer;
  border: 2px solid orange;
  box-shadow: 5px 5px 10px 3px rgb(0 0 0 / 30%);
}

main > img {
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  opacity: 0.65;
  color: midnightblue;
  font-size: 5rem;
  font-weight: 900;
  text-align: center;
  position: relative;
  right: 50vw;
  transition: right 1s ease-out;
}

h1.centered {
  right: 0;
}

#flower-top {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(30deg);
  z-index: -1;
  max-width: 100vw;
}

#flower-bottom {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(30deg) scaleX(-1);
  z-index: -1;
  max-width: 100vw;
}

@media (max-width: 768px) {
  #flower-top {
    bottom: -75px;
    transform: rotate(90deg);
  }
  #flower-bottom {
    top: -75px;
    transform: rotate(90deg) scaleX(-1);
  }
}
